body { 
    background: url(2ca81a6-sport-shkoda-golov.jpg) no-repeat center center fixed; 
    
    background-size: 99.5% 99.5% ;
    

  }

html {
    font-size: 10px;
    
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .buttons {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    border: .4rem solid rgb(207, 237, 85);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 1.09s ease;
    width: 10rem;
    text-align: center;
    color: rgb(238, 230, 230);
    background: rgba(225, 231, 201, 0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(2);
    border-color: rgb(162, 77, 7);
    box-shadow: 0 0 1rem rgb(199, 107, 26);
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: yellow;
  }

  